In [ ]:
# melakukan import mysql connector
import mysql.connector

# Melakukan percobaab koneksi 
conn = mysql.connector.connect(
    host="localhost/127.0.0.1",user="mySQL",password="*****", database="KARYAWAN")

# Membuat object cursor sebagai penanda
cursor = conn.cursor()

# Deklarasi SQL Query untuk memasukan record ke DB (karyawan)
Insert_sql = "INSERT INTO KARYAMAN (FIRST_NAME, LAST_NAME, AGE, SEX, INCOME) VALUES (%s, %s, %s)"
values = ('Nurul', 'Ilahi', 26 ,'Single')

try : 
    # eksekusi SQL Command
    cursor.execute(Insert_sql, values)
    
    # Melakukan perubahan (commit) pada DB
    con.commit()

except mysql.connector.Error as error:
    # Roll back apabila terjadi issue dan cetak pesan kesalahan
    print("Terjadi kesalahan:", error)
    conn.rollback()
    
# Menutup Koneksi
    cursor.close()
    conn.close()